[user]
	signingkey = 8BE6B5843389427F
	name = John Merchant
	email = john@jmercha.dev
[credential]
	helper = store
[merge]
	tool = nvim
[mergetool]
	path = nvim
[core]
	editor = nvim
	autocrlf = input
[mergetool]
	prompt = false
[mergetool "nvim"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
